<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>Signin1</servlet-name>
    <servlet-class>app1.Signin1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signin1</servlet-name>
    <url-pattern>/Sign1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Signin2</servlet-name>
    <servlet-class>app2.Signin2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signin2</servlet-name>
    <url-pattern>/Sign2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginForm1</servlet-name>
    <servlet-class>app1.LoginForm1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginForm1</servlet-name>
    <url-pattern>/LogFo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginForm2</servlet-name>
    <servlet-class>app2.LoginForm2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginForm2</servlet-name>
    <url-pattern>/LogFo2</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>Welcome1</servlet-name>
    <servlet-class>app1.Welcome1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome1</servlet-name>
    <url-pattern>/Welc1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Welcome2</servlet-name>
    <servlet-class>app2.Welcome2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome2</servlet-name>
    <url-pattern>/Welc2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout1</servlet-name>
    <servlet-class>app1.Logout1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout1</servlet-name>
    <url-pattern>/Logt1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout2</servlet-name>
    <servlet-class>app2.Logout2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout2</servlet-name>
    <url-pattern>/Logt2</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>centralizedAuth.Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/authn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthServer</servlet-name>
    <servlet-class>centralizedAuth.AuthServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServer</servlet-name>
    <url-pattern>/AuthServ</url-pattern>
  </servlet-mapping>
</web-app>